@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&ddisplay=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto:wght@400;700;900&display=swap";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
}

.pad-70{
    padding: 0px 70px;
}